:root {
    --primary-green: #2d6a4f;
    --light-green: #95d5b2;
    --dark-green: #1b4332;
    --background-gray: #f7f8f8;
    --text-dark: #344e41;
}

.home {
    display: flex;
    width: 100vw; /* Full viewport width */
    height: 100vh;

    .homeContainer {
        flex: 6;
        background-color: whitesmoke;
        color: #616161;

        .widgetsSection {
            margin:20px;
            background-color: var(--primary-green);
            padding: 20px;
            border-radius: 10px;
            position: relative; // Ensure relative positioning for inner scrolling
            overflow: hidden; // Hide overflow for smooth scrolling

            .widgetsHeading {
                color: white; // Make the heading text white for contrast
                margin-bottom: 10px;
                font-size: 24px;
            }

            .widgetsContainer {
                display: flex;
                gap: 20px;
                padding: 10px;
                animation: oscillate 4s ease-in-out infinite; // Oscillating animation
              

                // Widget background color
                .widget {
                    background-color: var(--light-green); // Use light green for widgets
                    color: var(--text-dark); // Adjust text color to be more readable
                }

                @keyframes oscillate {
                    0% {
                      transform: translateX(0); // Start at the center
                    }
                    25% {
                      transform: translateX(-30px); // Move left
                    }
                    50% {
                      transform: translateX(0); // Back to the center
                    }
                    75% {
                      transform: translateX(30px); // Move right
                    }
                    100% {
                      transform: translateX(0); // Back to the center
                    }
                  }
            }
        }

        .charts {
            display: flex;
            padding: 5px 20px;
        }

        .listContainer {
            -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
            box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
            padding: 20px;
            margin: 20px;

            .listTitle {
                font-size: 20px;
                font-weight: 500;
                color: #616161;
                margin-bottom: 15px;
            }
        }
    }
}